MAIL_DOMAIN=cochranblock.org
SMTP_PORT=25
SMTP_SUBMISSION_PORT=587
IMAP_PORT=993
TLS_CERT=/etc/cochranblock-mail/cert.pem
TLS_KEY=/etc/cochranblock-mail/key.pem
MAIL_DIR=/var/lib/cochranblock-mail/messages
MAIL_DB=/var/lib/cochranblock-mail/mail.redb
MAIL_ADMIN_USER=mcochran
# sha256 of your password: echo -n 'yourpassword' | sha256sum
MAIL_ADMIN_PASS_HASH=
